$color1 : #51b2dd;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

.btn{
    font-size: small;
}

#signupButton{
    background: $color1;
    color: white;
}

a:link {
    color: $color1;
}

.navbar a img{
    height: 500px;
}